<div id="mainBox">
  <div id="nav">
    <dl>
      <dt id="health">疾病</dt>
      <dd><a href="#">颈椎病防治</a> <a href="#">腰椎病防治</a></dd>
      <dd><a href="#">跟腱炎防治</a> <a href="#">跌扭伤防治</a></dd>
    </dl>
    <dl>
      <dt id="disease">保健</dt>
      <dd><a href="#">颈椎病</a> <a href="#">腰椎病</a></dd>
      <dd><a href="#">跌扭伤</a> <a href="#">跟腱炎</a></dd>
    </dl>
    <dl>
      <dt id="culture">文化</dt>
      <dd><a href="#">中医疗法</a> <a href="#">综合疗法</a></dd>
      <dd><a href="#">中医常识</a> <a href="#">特色膏药</a></dd>
    </dl>
    <dl>
      <dt id="interactive">互动</dt>
      <dd><a href="#">常见问答</a> <a href="#">病友总结</a></dd>
      <dd><a href="#">驿站论坛</a> <a href="#">注册登录</a></dd>
    </dl>
  </div>
  <div id="ranking">
    <div id="rankingTop0">
      <h1>排行TOP</h1>
      <ul>
        <li onmouseover="setTab(0,0)" class="current">疾病</li>
        <li onmouseover="setTab(0,1)">保健</li>
        <li onmouseover="setTab(0,2)">互动</li>
      </ul>
    </div>
    <div id="rankingCon0">
      <ul class="show">
        <li><span>1</span> <a href="#">人人皆养生，长寿抗衰老10大中药</a></li>
        <li><span>2</span> <a href="#">颈椎病的自我运动治疗</a></li>
        <li><span>3</span> <a href="#">自我按摩，轻松治疗腰疾大病</a></li>
        <li><span>4</span> <a href="#">你上火了吗？一招制胜上火秘法</a></li>
        <li><span>5</span> <a href="#">百家谈：秋天养生各种吃法</a></li>
        <li><span>6</span> <a href="#">自查你是否可以继续戴隐形眼镜</a></li>
        <li><span>7</span> <a href="#">六妙招有助增强免疫力</a></li>
        <li><span>8</span> <a href="#">冬季火大怎样灭去人体的四把火</a></li>
        <li><span>9</span> <a href="#">如何鉴别和诊断冻疮</a></li>
        <li><span>10</span> <a href="#">拒绝室内污染 把过敏原赶出家</a></li>
      </ul>
      <ul>
        <li><span>1</span> <a href="#">2222222，长寿抗衰老10大中药</a></li>
        <li><span>2</span> <a href="#">2颈椎病的自我运动治疗</a></li>
        <li><span>3</span> <a href="#">自2我按摩，轻松治疗腰疾大病</a></li>
        <li><span>4</span> <a href="#">你2上火了吗？一招制胜上火秘法</a></li>
        <li><span>5</span> <a href="#">百2家谈：秋天养生各种吃法</a></li>
        <li><span>6</span> <a href="#">自2查你是否可以继续戴隐形眼镜</a></li>
        <li><span>7</span> <a href="#">六2妙招有助增强免疫力</a></li>
        <li><span>8</span> <a href="#">冬2季火大怎样灭去人体的四把火</a></li>
        <li><span>9</span> <a href="#">如何2鉴别和诊断冻疮</a></li>
        <li><span>10</span> <a href="#">拒2绝室内污染 把过敏原赶出家</a></li>
      </ul>
      <ul>
        <li><span>1</span> <a href="#">3333333333，长寿抗衰老10大中药</a></li>
        <li><span>2</span> <a href="#">颈椎33病的自我运动治疗</a></li>
        <li><span>3</span> <a href="#">自我3按摩，轻松治疗腰疾大病</a></li>
        <li><span>4</span> <a href="#">你33上火了吗？一招制胜上火秘法</a></li>
        <li><span>5</span> <a href="#">百家3谈：秋天养生各种吃法</a></li>
        <li><span>6</span> <a href="#">自查33你是否可以继续戴隐形眼镜</a></li>
        <li><span>7</span> <a href="#">六妙3招有助增强免疫力</a></li>
        <li><span>8</span> <a href="#">冬季3火大怎样灭去人体的四把火</a></li>
        <li><span>9</span> <a href="#">如何33鉴别和诊断冻疮</a></li>
        <li><span>10</span> <a href="#">拒绝3室内污染 把过敏原赶出家</a></li>
      </ul>
    </div>
  </div>
  <div class="article">
    <h1>疾病<span class="more"><a href="#" title="更多&gt;&gt;"></a></span></h1>
    <ul>
      <li>&middot;<a href="#">自查你是否可以继续戴隐形眼镜</a></li>
      <li>&middot;<a href="#">六妙招有助增强免疫力</a></li>
      <li>&middot;<a href="#">冬季火大怎样灭去人体的四把火</a></li>
      <li>&middot;<a href="#">如何鉴别和诊断冻疮</a></li>
      <li>&middot;<a href="#">拒绝室内污染 把过敏原赶出家</a></li>
    </ul>
    <h1>文化<span class="more"><a href="#" title="更多&gt;&gt;">more&gt;&gt;</a></span></h1>
    <ul>
      <li>&middot;<a href="#">自查你是否可以继续戴隐形眼镜</a></li>
      <li>&middot;<a href="#">六妙招有助增强免疫力</a></li>
      <li>&middot;<a href="#">冬季火大怎样灭去人体的四把火</a></li>
      <li>&middot;<a href="#">如何鉴别和诊断冻疮</a></li>
      <li>&middot;<a href="#">拒绝室内污染 把过敏原赶出家</a></li>
    </ul>
  </div>
  <div class="article articleR">
    <h1>保健<span class="more"><a href="#" title="更多&gt;&gt;">more&gt;&gt;</a></span></h1>
    <ul>
      <li>&middot;<a href="#">自查你是否可以继续戴隐形眼镜</a></li>
      <li>&middot;<a href="#">六妙招有助增强免疫力</a></li>
      <li>&middot;<a href="#">冬季火大怎样灭去人体的四把火</a></li>
      <li>&middot;<a href="#">如何鉴别和诊断冻疮</a></li>
      <li>&middot;<a href="#">拒绝室内污染 把过敏原赶出家</a></li>
    </ul>
    <h1>互动<span class="more"><a href="#" title="更多&gt;&gt;">more&gt;&gt;</a></span></h1>
    <ul>
      <li>&middot;<a href="#">自查你是否可以继续戴隐形眼镜</a></li>
      <li>&middot;<a href="#">六妙招有助增强免疫力</a></li>
      <li>&middot;<a href="#">冬季火大怎样灭去人体的四把火</a></li>
      <li>&middot;<a href="#">如何鉴别和诊断冻疮</a></li>
      <li>&middot;<a href="#">拒绝室内污染 把过敏原赶出家</a></li>
    </ul>
  </div>