 <div id="footer">
    <div id="bottomNav"><a href="#">设为首页</a> | <a href="#">收藏本站</a> | <a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">版权声明</a> | <a href="#">意见建议</a></div>
    <div id="copyRight">
      <p>Copyright <span>&copy;</span> 2011-2013 All Rights Reserved</p>
      <p>版权所有 Wanglim养生保健驿站</p>
    </div>
  </div>