<div id="ad"><a href="#"><img src="images/ad.jpg" width="980" height="110" alt="淮安王济公秘制筋骨膏" title="淮安王济公秘制筋骨膏" /></a></div>
  <div id="links" style="margin-top:10px;">
    <ul>
      <li><a href="http://www.akin8.com" title="AkinDesign">AkinDesign</a></li>
      <li><a href="http://www.baidu.com">百度</a></li>
      <li><a href="#">hao123</a></li>
      <li><a href="#">网银在线</a></li>
      <li><a href="#">360网址导航</a></li>
      <li><a href="#">昵图网</a></li>
      <li><a href="#">腾讯</a></li>
      <li><a href="#">QQ网址大全</a></li>
      <li><a href="#">支付宝</a></li>
      <li><a href="#">淘宝</a></li>
      <li><a href="#">火影漫画</a></li>
      <li><a href="#">网易163</a></li>
      <li><a href="#">搜狐</a></li>
      <li><a href="#">新浪</a></li>
      <li><a href="#">驴妈妈旅游网</a></li>
      <li><a href="#">易迅数码</a></li>
      <li><a href="#">360网址导航</a></li>
      <li><a href="#">昵图网</a></li>
      <li><a href="#">腾讯</a></li>
      <li><a href="#">QQ网址大全</a></li>
      <li><a href="#">支付宝</a></li>
      <li><a href="#">淘宝</a></li>
      <li><a href="#">火影漫画</a></li>
      <li><a href="#">网易163</a></li>
      <li><a href="#">搜狐</a></li>
      <li><a href="#">新浪</a></li>
      <li><a href="#">驴妈妈旅游网</a></li>
      <li><a href="#">易迅数码</a></li>
    </ul>
  </div>
<div id="footer">
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28120975-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <div id="bottomNav"><a href="#">设为首页</a> | <a href="#">收藏本站</a> | <a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">版权声明</a> | <a href="#">意见建议</a></div>
    <div id="copyRight">
      <p>Copyright <span>&copy;</span> 2011-2013 All Rights Reserved</p>
      <p>版权所有 Wanglim养生保健驿站</p>
    </div>
  </div>